{% extends "blog/base.html" %}

{% block menu %}
<div class="navbar-nav">	
        {% for item in context %}
            <a class="nav-item nav-link" href="{{item.url}}">{{item.title}}</a>
        {% endfor %}
</div>
{% endblock menu %}
	
{% block content %}


	<article class="media content-section">	
	<img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
	  <div class="media-body">
	    <div class="article-metadata">
	      <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
	      <small class="text-muted">{{ object.date_posted|date:"F d, Y"}}</small>

	      	{% if user.is_authenticated %}
	      		{% if object.author == user %}
	      			<div>
	      				<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}"> Update </a>
	      				<a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}"> Delete </a>
	      			</div>
	      		{% endif %}
	      		<div>
	      		<a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'add-comment' pk=post.pk %}"> Add a Comment </a>
	      		</div>
	      	{% endif %}
	    </div>
	    <h2 class="article-title">{{ object.title }}</h2>
	    <p class="article-content">{{ object.content }}</p>
	{% if user.is_authenticated %}
	    <a class="btn btn-success btn-sm mt-1 mb-1" type="submit" href="{% url 'like-post' pk=post.pk %}">Like (+{{post_likes}}) </a>
	     <a class="btn btn-danger btn-sm mt-1 mb-1" type="submit" href="{% url 'unlike-post' pk=post.pk %}">Unlike</a>
	{% endif %}     
	  </div>

	</article>
		{% for comment in post.comments.all %}
			<article class="media content-section">
				<div class="article-metadata">
					<strong>{{comment.author}}</strong>
					<a>{{comment.created_date}}
					{% if comment.author == user %}
				<a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'remove-comment' comment.pk %}"> Delete Comment</a>
					{% endif %}
					<br>
					<a>{{comment.content}}</a>
	{% if user.is_authenticated %}
		<a class="btn btn-success btn-sm mt-1 mb-1" type="submit" href="{% url 'like-comment' pk=comment.pk %}">Like (+{{comment.comment_likes.count}}) </a>
		<a class="btn btn-danger btn-sm mt-1 mb-1" type="submit" href="{% url 'unlike-comment' pk=comment.pk %}">Unlike</a>
	{% endif %}
				</div>
			</article>
		{% endfor %}
			{% for message in messages %}
	   			<a class="btn btn-danger">{{message}}</a>
	   		{% endfor %}
{% endblock content %}